{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Home' %}
{% set active_menu = 'home' %}

{% block pageheader %}
    <section class="hero is-small is-info is-bold user-header">
        <div class="hero-body">
            <div class="container is-fluid">
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="{{ model.picture['image'] }}" alt="User Avatar" />
                                </figure>
                            </div>
                                    
                            <div class="media-content">
                                <p class="title is-4">{{ model.name }}</p>
                                <p class="subtitle is-6">
                                    <span>@{{ model.username }}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="column is-narrow is-hidden-mobile">
                        <div class="level is-mobile">
                            {% if model.deppartment %}
                                <div class="level-item">
                                    <div>
                                        <p class="heading">Department</p>
                                        <p class="value">{{ model.department.name }}</p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if model.group %}
                                <div class="level-item">
                                    <div>
                                        <p class="heading">Group</p>
                                        <p class="value">{{ model.group.name }}</p>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="level-item">
                                <div>
                                    <p class="heading">Leaves Balance</p>
                                    <p class="value">{{ model.leaves_balance }}</p>
                                </div>
                            </div>

                            <div class="level-item">
                                <div>
                                    <p class="heading">Last login on</p>
                                    <p class="value">{{ model.last_login_at ? model.last_login_at|date('F d, Y h:i A') : 'None recorded' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-3 is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen">
            <div class="box user-box">
                {% if model.department %}
                    <div class="info">
                        <p class="title">Department</p>
                        <p class="value">{{ model.department.name }}</p>
                    </div>
                {% endif %}

                {% if model.group %}
                    <div class="info">
                        <p class="title">Group</p>
                        <p class="value">{{ model.group.name }}</p>
                    </div>
                {% endif %}

                <div class="info">
                    <p class="title">Leaves Balance</p>
                    <p class="value">{{ model.leaves_balance }}</p>
                </div>

                <div class="info">
                    <p class="title">Last login on</p>
                    <p class="value">{{ model.last_login_at ? model.last_login_at|date('F d, Y h:i A') : 'None recorded' }}</p>
                </div>

                <div class="info">
                    <p class="title">Created on</p>
                    <p class="value">{{ model.created_at ? model.created_at|date('F d, Y h:i A') : 'N/A' }}</p>
                </div>

                <div class="info">
                    <p class="title">Updated on</p>
                    <p class="value">{{ model.updated_at ? model.updated_at|date('F d, Y h:i A') : 'N/A' }}</p>
                </div>
            </div>
        </div>

        <div class="column">
            <transition name="notif-slide-fade-up">
                <div class="notification is-primary" v-show="unreadNotificationCount > 0">
                    You have <span class="tag is-danger">{{ '{{ unreadNotificationCount }}' }}</span> unread {{ '{{ unreadNotificationCount == 1 ? "notification" : "notifications" }}' }}.
                    
                    <button class="button is-small is-info is-inverted is-outlined is-pulled-right is-hidden-mobile" @click.stop="toggleNotifBar()">
                        View notifications
                    </button>
                </div>
            </transition>

            <div class="panel">
                <div class="panel-heading">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">Recent Requests</div>
                        </div>

                        <div class="level-right">
                            <div class="level-item">
                                <a href="{{ route('employee.requests.index', {}, false) }}" class="button is-small">
                                    View all
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-block is-paddingless">
                    <div class="scrollable-table is-marginless">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Reason</th>
                                    <th>Filing Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in requests %}
                                    <tr>
                                        <td>{{ request.type_name }}</td>
                                        <td>{{ request.reason[0:20] ~ '...' }}</td>
                                        <td>{{ request.created_at|date('M d Y, h:i a') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">No records found</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if inbox|length > 0 %}
                <div class="panel">
                    <div class="panel-heading">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">Latest Inbox Requests</div>
                        </div>

                        <div class="level-right">
                            <div class="level-item">
                                <a href="{{ route('employee.requests.inbox.index', {}, false) }}" class="button is-small">
                                    View all
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    
                    <div class="panel-block is-paddingless">
                        <div class="scrollable-table is-marginless">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Reason</th>
                                        <th>Filing Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for request in inbox %}
                                        <tr>
                                            <td>{{ request.type_name }}</td>
                                            <td>{{ request.reason[0:20] ~ '...' }}</td>
                                            <td>{{ request.created_at|date('M d Y, h:i a') }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">No records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
