{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Notifications' %}
{% set active_menu = null %}

{% block pageheader %}
    <div class="columns page-heading">
        <div class="column">
            <h1 class="heading">Notifications</h1>
        </div>
    </div>
{% endblock %}

{% block subcontent %}
    <div class="columns">
        <div class="column">
            <div class="notification-list">
                {% for notification in notifications %}
                    <a href="{{ route('notifications.view', { notification: notification }, false) }}" class="notification-entry {{ notification.read_at is null ? 'is-unread' : '' }}">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img src="{{ notification.data.image }}" alt="Notification" />
                                </p>
                            </figure>

                            <div class="media-content">
                                <div class="content">{{ notification.data.content }}</div>
                                <div class="footer">
                                    <i class="fa fa-{{ notification.data.icon }}"></i>
                                    {{ notification.created_at | date('M d, h:i a') }}
                                </div>
                            </div>
                        </article>
                    </a>
                {% endfor %}
            </div>

            <div class="columns">
                <div class="column is-3 is-offset-9 is-paddingless">
                    <span class="select">
                        <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                            {% for i in 1..notifications.lastPage %}
                                <option value="{{ i }}">Page {{ i }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
