{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Bulletins' %}
{% set active_menu = 'bulletins' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-12">
            <div class="level is-small">
                <div class="level-left">
                    <div class="level-item">
                        <a href="{{ route('dashboard.bulletins.create', {}, false) }}" class="button is-primary is-small">
                            <i class="fa fa-plus"></i> Create Bulletin
                        </a>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Posted on</th>
                        <th class="is-fit">Action</th>
                    </tr>
                </thead>
                <tbody>
                	{% for item in bulletins %}
                		<tr>
                			<td>{{ item.title ? item.title : 'Untitled' }}</td>
                			<td>
                				{{ item.author ? item.author.name : 'N/A' }}

                				{% if item.lastAuthor %}
                					<br /><em>(last edited by {{ item.lastAuthor.name }})</em>
                				{% endif %}
                			</td>
                			<td>
                				{{ item.created_at ? item.created_at|date('M d, h:i a') : 'N/A' }}

                				{% if item.updated_at != item.created_at %}
                					<br /><em>Edited {{ item.updated_at|date('M d, h:i a') }}</em>
                				{% endif %}
                			</td>
                			<td>
                				<a href="{{ route('dashboard.bulletins.edit', { model: item }, false) }}" class="button is-small">
                					<i class="fa fa-pencil is-marginless"></i>
                				</a>
                			</td>
                		</tr>
                	{% else %}
                		<tr>
                			<td colspan="4">The bulletin board is empty.</td>
                		</tr>
                	{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
