{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'View request' %}
{% set active_menu = 'inbox' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        {% if model.requestor and model.requestor.picture_path %}
                            <img src="{{ '/storage/' ~ model.requestor.picture_path }}" alt="User Avatar" />
                        {% else %}
                            <img src="/assets/img/default-image.jpg" alt="User Avatar" />
                        {% endif %}
                    </figure>
                </div>
                            
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">{{ model.requestor.name }}</p>
                            <p class="subtitle is-6">Requestor</p>
                            {% if model.requestor.department %}
                                <p class="subtitle is-6">{{ model.requestor.department.name }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        <div class="info">
                            <p class="title">Leaves Balance</p>
                            <p class="value">{{ model.requestor.leaves_balance }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Incurs Balance</p>
                            <p class="value">{{ model.incurred_balance }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Type</p>
                            <p class="value">{{ model.type_name }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Status</p>
                            <p class="value">{{ model.status_label }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="panel">
                <div class="panel-heading is-small">{{ model.type_name }} Request</div>
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <div class="info">
                                <p class="title">Filing Date</p>
                                <p class="value">{{ model.created_at ? model.created_at|date('m/d/Y h:i A') : 'N/A' }}</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="info">
                                <p class="title">Start Date</p>
                                <p class="value">{{ model.from_date|date('m/d/Y h:i A') }}</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="info">
                                <p class="title">End Date</p>
                                <p class="value">{{ model.to_date|date('m/d/Y h:i A') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <h2 class="subtitle">Reason</h2>

                            <p>{{ model.reason|nl2br }}</p>

                            {% if model.status == 0 %}
                                <hr />
                                <h2 class="subtitle">Disapproval Reason</h2>

                                <p>{{ model.disapproval_reason|nl2br }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if model.status is null or model.status == 5 %}
                    <div class="field has-addons is-pulled-right">
                        <p class="control">
                            <button class="button is-large is-danger" @click="modals.confirm = true; disableAction = true" :disabled="disableAction">
                                <i class="fa fa-thumbs-down"></i>
                                <span>Disapprove</span>
                            </button>
                        </p>
                      
                        <p class="control">
                            <button class="button is-large is-success" @click="submitForm('approveForm'); disableAction = true; buttons.approveLoading = true" :disabled="disableAction" :class="{ 'is-loading' : buttons.approveLoading }">
                                <i class="fa fa-thumbs-up"></i>
                                <span>Approve</span>
                            </button>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <form id="approveForm" action="{{ route('employee.requests.inbox.approve', { model: model }, false) }}" method="post">
        {{ csrf_field() }}
    </form>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Confirm Action</h3>
        
        <div slot="body">
            <form action="{{ route('employee.requests.inbox.disapprove', { model: model }, false) }}" method="post" class="is-clearfix">
                {{ csrf_field() }}

                <div class="field">
                    <label class="label">Disapproval Reason</label>

                    <p class="control">
                        <textarea class="textarea" name="disapproval_reason" style="height: 100px;" required></textarea>
                    </p>
                </div>
                                
                <div class="field is-grouped is-pulled-right">
                    <p class="control">
                        <button type="button" class="button is-light" @click="modals.confirm = false; disableAction = false" :disabled="buttons.disapproveLoading">
                            Cancel
                        </button>
                    </p>

                    <p class="control">
                        <button type="submit" class="button is-danger" @click="buttons.disapproveLoading = true" :class="{ 'is-loading' : buttons.disapproveLoading }">
                            <i class="fa fa-chevron-right"></i> Disapprove Request
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </modal>
{% endblock %}
