{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Edit leave balance' %}
{% set active_menu = 'users' %}


{% block subcontent %}
    <div class="columns">
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ user.name }}</p>
                            <p class="subtitle is-6">@{{ user.username }}</p>
                        </div>
                    </div>

                    <div class="content">
                        {% if user.department %}
                            <p><em>Head of <strong>{{ user.department.name }}</strong> department.</em></p>
                        {% endif %}

                        <div class="info-set">
                            <div class="info">
                                <p class="title">Group</p>
                                <p class="value">{{ user.group ? user.group.name : 'Unassigned' }}</p>
                            </div>

                            <div class="info">
                                <p class="title">Departments</p>
                                <p class="value">
                                    {% if user.departments|length > 0 %}
                                        {% for department in user.departments %}
                                            {{ department.name }}<br />
                                        {% endfor %}
                                    {% else %}
                                        <em>None</em>
                                    {% endif %}
                                </p>
                            </div>

                            <div class="info">
                                <p class="title">Last login on</p>
                                <p class="value">{{ user.last_login_at ? user.last_login_at|date('F d, Y h:i A') : 'None recorded' }}</p>
                            </div>

                            <div class="info">
                                <p class="title">Created on</p>
                                <p class="value">{{ user.created_at ? user.created_at|date('F d, Y h:i A') : 'N/A' }}</p>
                            </div>

                            <div class="info">
                                <p class="title">Updated on</p>
                                <p class="value">{{ user.updated_at ? user.updated_at|date('F d, Y h:i A') : 'N/A' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-8">
            <form action="{{ app.request.getRequestUri() }}" method="post">
                {{ csrf_field() }}
                <div class="panel">
                    <div class="panel-heading is-small">Edit Leave Balance</div>
                    <div class="box is-paddingless">
                        <table class="table is-marginless">
                            <thead>
                                <tr>
                                    <th>Leave Type</th>
                                    <th>Entitlement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for type in types %}
                                    {% set name = 'leave_' ~ type.id %}
                                    <tr>
                                        <td>{{ type.name }}</td>
                                        <td>
                                            {{ form_widget(form[name]) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <p class="control">
                        <button class="button is-primary" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
