{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Users' %}
{% set active_menu = 'users' %}

{% if trash %}
    {% set page_title = 'Deleted Users' %}
    {% set active_menu = 'users.deleted' %}
{% endif %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-8">
            {% if trash %}
                <div class="notification is-info is-small">This page shows the deleted users. You can restore their account or delete it permanently here.</div>
            {% endif %}

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Group</th>
                        <th class="is-fit">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in result %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.username }}</td>
                            {% if item.group %}
                                <td>{{ item.group.name }}</td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            <td>
                                {% if trash %}
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <button class="button is-small is-info is-outlined" @click.prevent="modals.confirm2 = true; setFormId({{ item.id }})">Restore</button>
                                        </p>

                                        <p class="control">
                                            <button class="button is-small is-danger" @click.prevent="modals.confirm = true; setFormId({{ item.id }})" title="Delete Permanently">
                                                <i class="fa fa-ban is-marginless"></i>
                                            </button>
                                        </p>
                                    </div>
                                {% else %}
                                    <a href="{{ route('dashboard.users.edit', { model: item }, false) }}" class="button is-small" title="Edit {{ item.name }}">
                                        <i class="fa fa-pencil-square-o is-marginless"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No results found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="columns">
                <div class="column is-3 is-offset-9 is-paddingless">
                    <span class="select">
                        <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                            {% for i in 1..result.lastPage %}
                                <option value="{{ i }}">Page {{ i }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>

        <div class="column is-4">
            <nav class="panel">
                <p class="panel-heading is-small">Search</p>
                
                <div class="box">
                    <form action="{{ app.request.getRequestUri() }}">
                        <div class="field">
                            <label class="label">Name</label>
                            <p class="control">
                                <input class="input" type="text" name="name" value="{{ input_get('name') }}" />
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">Group</label>
                            <p class="control">
                                <span class="select">
                                    <select name="group">
                                        <option value="all">All Groups</option>
                                        {% for group in groups %}
                                            {% if input_get('group') == group.id %}
                                                <option value="{{ group.id }}" selected>{{ group.name }}</option>
                                            {% else %}
                                                <option value="{{ group.id }}">{{ group.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </span>
                            </p>
                        </div>

                        <div class="field is-clearfix">
                            <button type="submit" class="button is-primary is-outlined is-pulled-right">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to permantly delete this user?</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ route('dashboard.users.purge', {}, false) }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" v-model="modelId" />
                    
                <button type="button" class="button is-light" @click="modals.confirm = false">Cancel</button>
                <button type="submit" class="button is-danger">Delete Pemanently</button>
            </form>
        </div>
    </modal>

    <modal :show.sync="modals.confirm2">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to restore this user account?</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ route('dashboard.users.restore', {}, false) }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" v-model="modelId" />
                    
                <button type="button" class="button is-light" @click="modals.confirm2 = false">Cancel</button>
                <button type="submit" class="button is-info">Restore User</button>
            </form>
        </div>
    </modal>
{% endblock %}
