{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Users' %}
{% set active_menu = 'users' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th class="is-fit">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in result %}
                        <tr>
                            <td>{{ item.name }}</td>
                            {% if item.group %}
                                <td>
                                    <a href="#">{{ item.group.name }}</a>
                                </td>
                            {% else %}
                                <td>N/A</td>
                            {% endif %}
                            <td>
                                <a href="{{ route('dashboard.users.edit', { id: item.id }) }}" class="button is-small">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <span class="select">
                <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                    {% for i in 1..result.lastPage %}
                        <option value="{{ i }}">Page {{ i }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>

        <div class="column is-4">
            <nav class="panel">
                <p class="panel-heading is-small">Search</p>
                
                <div class="box">
                    <form action="{{ app.request.getRequestUri() }}">
                        <div class="field">
                            <label class="label">Name</label>
                            <p class="control">
                                <input class="input" type="text" name="name" value="{{ input_get('name') }}" />
                            </p>
                        </div>

                        <div class="field is-clearfix">
                            <button type="submit" class="button is-primary is-outlined is-pulled-right">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}
