{% extends '/dashboard/users/view.twig' %}

{% block viewcontent %}
    <div class="columns is-marginless">
        <div class="column is-12">
            <table class="table is-marginless">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Action</th>
                        <th>Browser</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.timestamp }}</td>
                            <td>{{ trans('action.' ~ log.action, log.params) }}</td>
                            <td>{{ log.getUserAgentFriendlyName() }}</td>
                            <td>{{ log.ip_address }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="columns">
        <div class="column is-3 is-offset-9">
            <span class="select">
                <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                    {% for i in 1..logs.lastPage %}
                        <option value="{{ i }}">Page {{ i }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
    </div>
{% endblock %}