{% extends '/layouts/dashboard.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set page_title = 'Confirm Group Deletion' %}
{% set active_menu = 'groups' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="panel">
                <p class="panel-heading is-small">{{ page_title }}</p>

                <div class="box is-clearfix">
                    <p>The department <strong>{{ model.name }}</strong> is not empty. The following users will be affected:</p>

                    <div class="content">
                        <ul class="list">
                            {% for user in model.users %}
                                <li>{{ user.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <p>Please select another department to move the affected users to</p>

                    <form action="{{ route('dashboard.departments.delete.confirm', { model: model }, false) }}" method="POST">
                        {{ form_widget(form) }}

                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <a href="{{ route('dashboard.departments.index', {}, false) }}" class="button is-outline">Cancel</a>
                            </p>

                            <p class="control">
                                <button class="button is-danger" type="submit"><i class="fa fa-trash"></i> Confirm</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
