{% extends '/layouts/dashboard.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set page_title = 'Create request' %}
{% set active_menu = 'requests.create' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-12">
            <div class="panel">
                <div class="panel-heading">Create new leave request</div>
                <div class="box">
                    <div class="columns">
                        <div class="column is-offset-3 is-6">
                            <form action="{{ app.request.getRequestUri() }}" method="post">
                                {{ csrf_field() }}
                                {{ form_row(form.requestor_id) }}
                                {{ form_row(form.requestor) }}
                                {{ form_row(form.approver_id) }}
                                {{ form_row(form.type_id, { attr: { 'v-model': 'request.type' }}) }}
                                {{ form_row(form.from_date) }}
                                {{ form_row(form.to_date) }}

                                <div class="columns">
                                    <div class="column is-paddingless">
                                        <div class="field">
                                            <label class="label">Days</label>
                                            <p class="control">
                                                <input type="text" class="input" value="0" :value="request.days" readonly />
                                            </p>
                                        </div>
                                    </div>

                                    <div class="column is-paddingless">
                                        <div class="field">
                                            <label class="label">Remaining Balance</label>
                                            <p class="control">
                                                <input type="text" class="input" value="0" :value="request.type == 0 ? '0' : request.balances[request.type]" readonly />
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                {{ form_row(form.reason) }}

                                <div class="field">
                                    <button class="button is-primary is-pulled-right">
                                        <i class="fa fa-paper-plane"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
