{% extends '/layouts/dashboard.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set page_title = 'View request' %}
{% set active_menu = 'requests' %}
{% set enable_bulletin = false %}

{% block subcontent %}
    <div class="columns">
        <div class="column">
            <div class="panel">
                <div class="panel-heading is-small">{{ model.type_name }} Request</div>
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <form action="{{ app.request.getRequestUri() }}" method="post" @submit="buttons.postLoading = true">
                                {{ form_widget(form) }}

                                <div class="field">
                                    <p class="control">
                                        <button type="submit" class="button is-primary" :class="{ 'is-loading' : buttons.postLoading }">
                                            <i class="fa fa-floppy-o"></i> Save
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-8">
            <div class="box">
                <div class="columns">
                    {% if model.requestor %}
                        <div class="column">
                            <div class="info">
                                <p class="title">Requestor</p>
                                <p class="value">{{ model.requestor.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if model.approver %}
                        <div class="column">
                            <div class="info">
                                <p class="title">Approver</p>
                                <p class="value">{{ model.approver.name }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="column">
                        <div class="info">
                            <p class="title">Incurred balance</p>
                            <p class="value">{{ model.incurred_balance }} days</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="info">
                            <p class="title">Filing Date</p>
                            <p class="value">{{ model.created_at ? model.created_at|date('m/d/Y h:i A') : 'N/A' }}</p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="info">
                            <p class="title">Start Date</p>
                            <p class="value">{{ model.from_date|date('m/d/Y h:i A') }}</p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="info">
                            <p class="title">End Date</p>
                            <p class="value">{{ model.to_date|date('m/d/Y h:i A') }}</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <h2 class="subtitle">Reason</h2>

                        <p>{{ model.reason|nl2br }}</p>

                        {% if model.status == 0 %}
                            <hr />
                            <h2 class="subtitle">Disapproval Reason</h2>

                            <p>{{ model.disapproval_reason|nl2br }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
