{% extends '/layouts/dashboard.twig' %}

{% form_theme form '/layouts/bulma.twig' %}

{% set page_title = 'Requests' %}
{% set active_menu = 'requests' %}
{% set enable_bulletin = false %}

{% block subcontent %}
    <div class="columns is-marginless">
        <div class="column is-12">
            <div class="level is-mobile is-small">
                <div class="level-left">
                    <div class="level-item is-hidden-mobile">
                        <div class="tabs is-small">
                            <ul>
                                <li class="{{ is_all ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.requests.index', {}, false) }}">
                                        <span class="icon is-small"><i class="fa fa-inbox"></i></span>
                                        <span>All</span>
                                    </a>
                                </li>
                                <li class="{{ status == '-1' ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.requests.index', { status: '-1' }, false) }}">
                                        <span class="icon is-small"><i class="fa fa-tasks"></i></span>
                                        <span>Pending</span>
                                    </a>
                                </li>
                                <li class="{{ status == '1' ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.requests.index', { status: '1' }, false) }}">
                                        <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
                                        <span>Approved</span>
                                    </a>
                                </li>
                                <li class="{{ status == '5' ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.requests.index', { status: '5' }, false) }}">
                                        <span class="icon is-small"><i class="fa fa-level-up"></i></span>
                                        <span>Escalated</span>
                                    </a>
                                </li>
                                <li class="{{ status == '0' ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.requests.index', { status: '0' }, false) }}">
                                        <span class="icon is-small"><i class="fa fa-thumbs-down"></i></span>
                                        <span>Disapproved</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <button type="button" class="button is-small {{ not is_all ? 'is-active' : '' }}" @click="modals.confirm = true">
                            <i class="fa fa-search"></i> Filter Results
                        </button>
                    </div>
                </div>
            </div>

            <table class="table is-marginless">
                <thead>
                    <tr>
                        <th>Requestor</th>
                        <th>Approver</th>
                        <th>Type</th>
                        <th>Reason</th>
                        <th>Incurred Balance</th>
                        <th>Date Filed</th>
                        {% if is_all %}
                            <th>Status</th>
                        {% else %}
                            <th>Responded At</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr class="clickable" @click="location('{{ route('admin.requests.view', { model: request }, false) }}')">
                            <td>{{ request.requestor ? request.requestor.name : 'N/A' }}</td>
                            <td>{{ request.approver ? request.approver.name : 'N/A' }}</td>
                            <td>{{ request.type_name }}</td>
                            <td>{{ request.reason[0:20] ~ '...' }}</td>
                            <td>{{ request.incurred_balance }}</td>
                            <td>{{ request.created_at|date('M d Y, h:i a') }}</td>
                            {% if is_all %}
                                <td>{{ request.status_label }}</td>
                            {% else %}
                                <td>{{ request.responded_at ? request.responded_at|date('M d Y, h:i a') : 'N/A' }}</td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="columns">
        <div class="column is-3 is-offset-9">
            <span class="select">
                <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                    {% for i in 1..requests.lastPage %}
                        <option value="{{ i }}">Page {{ i }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
    </div>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Filter Results</h3>
        
        <div slot="body">
            <form action="{{ route('admin.requests.index', {}, false) }}" class="is-clearfix">
                <div class="field is-grouped">
                    {{ form_widget(form.status, { additional_class: 'is-expanded', include_label: true }) }}
                    {{ form_widget(form.type, { additional_class: 'is-expanded', include_label: true }) }}
                </div>

                <div class="field is-grouped">
                    {{ form_widget(form.requestor, { additional_class: 'is-expanded', include_label: true }) }}
                    {{ form_widget(form.approver, { additional_class: 'is-expanded', include_label: true }) }}
                </div>

                <div class="field is-grouped">
                    {{ form_widget(form.date_filed_from, { additional_class: 'is-expanded', include_label: true }) }}
                    {{ form_widget(form.date_filed_to, { additional_class: 'is-expanded', include_label: true }) }}
                </div>

                <div class="field is-grouped">
                    {{ form_widget(form.date_requested_from, { additional_class: 'is-expanded', include_label: true }) }}
                    {{ form_widget(form.date_requested_to, { additional_class: 'is-expanded', include_label: true }) }}
                </div>

                <div class="field is-grouped is-pulled-right">
                    <p class="control">
                        <button type="button" class="button is-light" @click="modals.confirm = false">
                            Cancel
                        </button>
                    </p>

                    <p class="control">
                        <button type="submit" class="button is-primary">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </modal>
{% endblock %}
