{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'View request' %}
{% set active_menu = 'myrequests' %}
{% set enable_bulletin = false %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-3">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{ model.requestor.picture['image'] }}" alt="User Avatar" />
                    </figure>
                </div>
                            
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ model.requestor.name }}</p>
                            <p class="subtitle is-6">Requestor</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="info">
                            <p class="title">Department</p>
                            <p class="value">{{ model.requestor.department ? model.requestor.department.name : 'N/A' }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Leaves Balance</p>
                            <p class="value">{{ model.requestor.leaves_balance }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Incurs Balance</p>
                            <p class="value">{{ model.incurred_balance }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Approver</p>
                            <p class="value">{{ model.approver ? model.approver.name : 'N/A' }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Type</p>
                            <p class="value">{{ model.type_name }}</p>
                        </div>

                        <div class="info">
                            <p class="title">Status</p>
                            <p class="value">{{ model.status_label }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="panel">
                <div class="panel-heading is-small">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">{{ model.type_name }} Request</div>
                        </div>

                        <div class="level-right">
                            <div class="level-item">
                                <a href="{{ route('employee.requests.printable', { model: model }, false) }}" class="button is-small">
                                    <i class="fa fa-print"></i> View Printable
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <div class="info">
                                <p class="title">Filing Date</p>
                                <p class="value">{{ model.created_at ? model.created_at|date('m/d/Y h:i A') : 'N/A' }}</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="info">
                                <p class="title">Start Date</p>
                                <p class="value">{{ model.from_date|date('m/d/Y h:i A') }}</p>
                            </div>
                        </div>

                        <div class="column">
                            <div class="info">
                                <p class="title">End Date</p>
                                <p class="value">{{ model.to_date|date('m/d/Y h:i A') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <h2 class="subtitle">Reason</h2>

                            <p>{{ model.reason|nl2br }}</p>


                            {% if model.status == 0 %}
                                <hr />
                                <h2 class="subtitle">Disapproval Reason</h2>

                                <p>{{ model.disapproval_reason|nl2br }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
