{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Groups' %}
{% set active_menu = 'groups' %}

{% if trash %}
    {% set page_title = 'Deleted Groups' %}
{% endif %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-12">
            <div class="level is-small">
                <div class="level-left">
                    <div class="level-item">
                        <div class="tabs is-small">
                            <ul>
                                <li class="{{ is_all ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.groups.index', {}, false) }}">
                                        <span class="icon is-small"><i class="fa fa-users"></i></span>
                                        <span>All</span>
                                    </a>
                                </li>
                                <li class="{{ trash ? 'is-active' : '' }}">
                                    <a href="{{ route('admin.groups.deleted', {}, false) }}">
                                        <span class="icon is-small"><i class="fa fa-trash"></i></span>
                                        <span>Deleted</span>
                                    </a>
                                </li>
                                {% if not is_all and not trash %}
                                    <li class="is-active">
                                        <a href="#" @click.prevent>
                                            <span class="icon is-small"><i class="fa fa-search"></i></span>
                                            <span>Search Results</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <form action="{{ app.request.getRequestUri() }}" class="level-item">
                        <div class="field has-addons is-small">
                            <p class="control">
                                <a href="{{ route('admin.groups.add', {}, false) }}" class="button is-primary is-small">
                                    <i class="fa fa-plus"></i> Add Group
                                </a>
                            </p>

                            <p class="control has-icon">
                                <input class="input is-small" type="text" name="name" value="{{ input_get('name') }}" placeholder="Search by name&hellip;" />

                                <span class="icon is-small">
                                    <i class="fa fa-users"></i>
                                </span>
                            </p>

                            <p class="control">
                                <button type="submit" class="button is-dark is-small">
                                    <i class="fa fa-search is-marginless"></i>
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>

            {% if trash %}
                <div class="notification is-info is-small">This page shows the deleted groups. You can restore groups or delete them permanently.</div>
            {% endif %}

            <div class="scrollable-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            {% if not trash %}
                                <th>Members</th>
                            {% endif %}
                            {% if trash %}
                                <th class="is-fit">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in result %}
                            {% if trash %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <button class="button is-small is-info is-outlined" @click.prevent="modals.confirm2 = true; setFormId({{ item.id }})">Restore</button>
                                            </p>

                                            <p class="control">
                                                <button class="button is-small is-danger" @click.prevent="modals.confirm = true; setFormId({{ item.id }})" title="Delete Permanently">
                                                    <i class="fa fa-ban is-marginless"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="is-link">
                                    <td>
                                        <a href="{{ route('admin.groups.edit', { model: item }, false) }}">
                                            {{ item.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ route('admin.users.index', { group: item.id }, false) }}">
                                            {{ item.users_count }} members
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="2">No results found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="columns">
                <div class="column is-3 is-offset-9 is-paddingless">
                    <span class="select">
                        <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                            {% for i in 1..result.lastPage %}
                                <option value="{{ i }}">Page {{ i }}</option>
                            {% endfor %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to permantly delete this group?</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ route('admin.groups.purge', {}, false) }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" v-model="modelId" />
                    
                <button type="button" class="button is-light" @click="modals.confirm = false">Cancel</button>
                <button type="submit" class="button is-danger">Delete Pemanently</button>
            </form>
        </div>
    </modal>

    <modal :show.sync="modals.confirm2">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to restore this group?</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ route('admin.groups.restore', {}, false) }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" v-model="modelId" />
                    
                <button type="button" class="button is-light" @click="modals.confirm2 = false">Cancel</button>
                <button type="submit" class="button is-info">Restore Group</button>
            </form>
        </div>
    </modal>
{% endblock %}
