{% extends '/admin/users/view.twig' %}

{% block viewcontent %}
    <div class="scrollable-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Approver</th>
                    <th>Reason</th>
                    <th>Incurred Balance</th>
                    <th>Date Filed</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                    <tr class="is-link">
                        <td>
                            <a href="{{ route('admin.requests.view', { model: request }, false) }}">
                                {{ request.type_name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ route('admin.requests.view', { model: request }, false) }}">
                                {{ request.approver ? request.approver.name : 'N/A' }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ route('admin.requests.view', { model: request }, false) }}">
                                {{ request.reason[0:20] ~ '...' }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ route('admin.requests.view', { model: request }, false) }}">
                                {{ request.incurred_balance }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ route('admin.requests.view', { model: request }, false) }}">
                                {{ request.created_at|date('M d Y, h:i a') }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ route('admin.requests.view', { model: request }, false) }}">
                                {{ request.status_label }}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}