{% extends '/admin/users/view.twig' %}

{% block viewcontent %}
    <div class="scrollable-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Action</th>
                    <th>Browser</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.timestamp }}</td>
                        <td>{{ trans('action.' ~ log.action, log.params) }}</td>
                        <td>{{ log.getUserAgentFriendlyName() }}</td>
                        <td>{{ log.ip_address }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="level">
        <div class="level-left"></div>

        <div class="level-right">
            <div class="level-item">
                <span class="select">
                    <select name="pages" @change="changePaginationPage" v-model="paginationPage">
                        {% for i in 1..logs.lastPage %}
                            <option value="{{ i }}">Page {{ i }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
        </div>
    </div>
{% endblock %}