{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Bulletins' %}
{% set active_menu = 'bulletins' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-12">
            <div class="level is-mobile is-small">
                <div class="level-left"></div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="{{ route('admin.bulletins.create', {}, false) }}" class="button is-primary is-small">
                            <i class="fa fa-plus"></i> Create Bulletin
                        </a>
                    </div>
                </div>
            </div>

            <div class="scrollable-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Posted on</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bulletins %}
                            <tr class="is-link">
                                <td>
                                    <a href="{{ route('admin.bulletins.edit', { model: item }, false) }}">
                                        {{ item.title ? item.title : 'Untitled' }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ route('admin.bulletins.edit', { model: item }, false) }}">
                                        {{ item.author ? item.author.name : 'N/A' }}

                                        {% if item.lastAuthor %}
                                            <br /><em>(last edited by {{ item.lastAuthor.name }})</em>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ route('admin.bulletins.edit', { model: item }, false) }}">
                                        {{ item.created_at ? item.created_at|date('M d, h:i a') : 'N/A' }}

                                        {% if item.updated_at != item.created_at %}
                                            <br /><em>Edited {{ item.updated_at|date('M d, h:i a') }}</em>
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">The bulletin board is empty.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
