{% extends '/layouts/dashboard.twig' %}

{% set page_title = 'Leave Settings' %}
{% set active_menu = 'leave' %}

{% block subcontent %}
    <div class="columns">
        <div class="column is-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="level">
                        <div class="level-left">Leave Types</div>
                        <div class="level-right">
                            <a href="{{ route('dashboard.leave.type.add', {}, false) }}" class="button is-small"><i class="fa fa-plus"></i> Add</a>
                        </div>
                    </div>
                </div>

                <div class="box is-paddingless">
                    <table class="table is-marginless">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="is-fit">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in leave_types %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <div class="field is-grouped">
                                            <p class="control">
                                                <a href="{{ route('dashboard.leave.type.edit', { model: item }, false) }}" class="button is-small"><i class="fa fa-pencil-square-o is-marginless"></i></a>
                                            </p>

                                            <p class="control">
                                                <button class="button is-small is-danger" @click="modals.confirm = true; setFormId({{ item.id }})"><i class="fa fa-trash is-marginless"></i></button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">No results found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <modal :show.sync="modals.confirm">
        <h3 slot="header">Confirm action</h3>
        
        <div slot="body">
            <p>Are you sure you want to permantly delete this leave type? This action is irreversible</p>
        </div>

        <div slot="footer">
            <form method="post" action="{{ route('dashboard.leave.type.delete', {}, false) }}">
                {{ csrf_field() }}
                <input type="hidden" name="id" v-model="modelId" />
                    
                <button type="button" class="button is-light" @click="modals.confirm = false">Cancel</button>
                <button type="submit" class="button is-danger">Delete Pemanently</button>
            </form>
        </div>
    </modal>
{% endblock %}
