{% extends '/layouts/main.twig' %}

{%
    set menu = [
        {
            header: null,
            
            list: [
                { icon: 'home', identifier: 'home', route: 'dashboard.index', name: 'Home' },

                {
                    icon: 'envelope', identifier: 'requests', route: 'dashboard.requests.index', name: 'Requests',

                    list: [
                        { icon: 'plus', identifier: 'create', route: 'dashboard.requests.create', name: 'Create Request' },
                        { icon: 'user-circle-o', identifier: 'me', route: 'dashboard.requests.me', name: 'My Requests' }
                    ]
                }
            ]
        },

        {
            header: 'Administrator',

            list: [
                {
                    icon: 'user', identifier: 'users', route: 'dashboard.users.index', name: 'Users',
                    
                    list: [
                        { icon: 'plus', identifier: 'add', route: 'dashboard.users.add', name: 'Add User' },
                        { icon: 'trash', identifier: 'deleted', route: 'dashboard.users.deleted', name: 'Deleted Users' }
                    ]
                },

                {
                    icon: 'users', identifier: 'groups', route: 'dashboard.groups.index', name: 'Groups',

                    list: [
                        { icon: 'plus', identifier: 'add', route: 'dashboard.groups.add', name: 'Add Group' },
                        { icon: 'trash', identifier: 'deleted', route: 'dashboard.groups.deleted', name: 'Deleted Groups' }
                    ]
                },

                {
                    icon: 'building', identifier: 'departments', route: 'dashboard.departments.index', name: 'Departments',

                    list: [
                        { icon: 'plus', identifier: 'add', route: 'dashboard.departments.add', name: 'Add Department' },
                        { icon: 'trash', identifier: 'deleted', route: 'dashboard.departments.deleted', name: 'Deleted Departments' }
                    ]
                },

                { icon: 'sticky-note', identifier: 'leave', route: 'dashboard.leave.index', name: 'Leave Settings' }
            ]  
        }
    ]
%}

{% set active_tab = 'dashboard' %}

{% block content %}
    <nav class="nav has-shadow is-fixed-top">
        <div class="container is-fluid top-nav-container">
            <div class="nav-left">
                <div class="nav-item toggle-menu-button" @click="sidebarActive = !sidebarActive">
                    <transition name="fade">
                        <i class="fa fa-bars" v-show="!sidebarActive"></i>
                    </transition>

                    <transition name="slide-fade" :duration="{ enter: 1000, leave: 0 }">
                        <i class="fa fa-chevron-left" v-show="sidebarActive"></i>
                    </transition>
                </div>

                <a href="{{ route('index') }}" class="nav-item has-logo">
                    <img src="/assets/img/logo-vertical.png" alt="Logo"> Employee Portal
                </a>
                        
                {% for item in nav %}
                    <a class="nav-item is-tab {{ active_tab == item.identifier ? 'is-active' : '' }}">
                        <span class="icon is-small">
                            <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
                        </span> {{ item.name }}
                    </a>
                {% endfor %}
            </div>
                
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
                
            <div class="nav-right nav-menu">
                <p class="nav-item is-tab">
                    <span class="icon is-small">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>

                    Logged in as {{ auth_user().name }}
                </p>

                <a href="{{ route('auth.logout', {}, false) }}" class="nav-item is-tab">
                    <span class="icon is-small">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>

                    Logout
                </a>
            </div>
        </div>
    </nav>

    <div class="off-menu" :class="{ active: sidebarActive }">
        <aside class="menu sidebar">
            {% for item in menu %}
                {% if item.header != null %}
                    <p class="menu-label">{{ item.header }}</p>
                {% endif %}

                <ul class="menu-list">
                    {% for listItem in item.list %}
                        <li{{ active_menu starts with listItem.identifier ? ' class="is-active"' : '' }}>
                            <a href="{{ route(listItem.route, {}, false) }}">
                                <span class="icon"><i class="fa fa-{{ listItem.icon }}" aria-hidden="true"></i></span> {{ listItem.name }}
                            </a>

                            {% if listItem.list is defined and active_menu starts with listItem.identifier %}
                                <ul>
                                    {% for subItem in listItem.list %}
                                        <li{{ active_menu == listItem.identifier ~ '.' ~ subItem.identifier ? ' class="is-active"' : '' }}>
                                            <a href="{{ route(subItem.route, {}, false) }}">
                                                <span class="icon"><i class="fa fa-{{ subItem.icon }}" aria-hidden="true"></i></span> {{ subItem.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>    
                    {% endfor %}
                </ul>
            {% endfor %}
        </aside>

        <div class="main-container" @click="sidebarActive = false">
            {% if session_get('message') %}
                <div class="notification is-{{ session_get('message')[0] }} is-main">
                    {{ session_get('message')[1] }}
                </div>
            {% endif %}

            {% block pageheader %}{% endblock %}

            <div class="columns">
                <div class="column is-9 is-paddingless">
                    {% block subcontent %}{% endblock %}
                </div>

                <div class="column is-3">
                    {% block pageside %}{% endblock %}
                    
                    <div class="panel">
                        <div class="panel-heading is-small">Bulletin</div>
                        <div class="box">
                            <h2 class="subtitle">Lorem ipsum</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
