{% extends '/layouts/main.twig' %}

{% set active_tab = 'dashboard' %}

{% set enable_bulletin = bulletins|length > 0 %}

{% block content %}
    <nav class="nav has-shadow is-fixed-top">
        <div class="container is-fluid top-nav-container">
            <div class="nav-left">
                <button class="nav-item toggle-menu-button" @click="sidebarActive = !sidebarActive">
                    <transition name="fade">
                        <i class="fa fa-bars" v-show="!sidebarActive"></i>
                    </transition>

                    <transition name="slide-fade" :duration="{ enter: 1000, leave: 0 }">
                        <i class="fa fa-chevron-left" v-show="sidebarActive"></i>
                    </transition>
                </button>

                <a href="{{ route('index') }}" class="nav-item has-logo">
                    <img src="/assets/img/logo-vertical.png" alt="Logo"> Employee Portal
                </a>
                        
                {% for item in nav %}
                    <a class="nav-item is-tab {{ active_tab == item.identifier ? 'is-active' : '' }}">
                        <span class="icon is-small">
                            <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
                        </span> {{ item.name }}
                    </a>
                {% endfor %}
            </div>
                
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
                
            <div class="nav-right nav-menu">
                <a href="{{ route('account.settings.index', {}, false) }}" class="nav-item is-tab">
                    {% if auth_user().thumbnail_path %}
                        <img class="avatar" src="{{ '/storage/' ~ auth_user().thumbnail_path }}" alt="User Avatar" />
                    {% else %}
                        <img class="avatar" src="/assets/img/default-thumb.jpg" alt="User Avatar" />
                    {% endif %}

                    <span>{{ auth_user().name }}</span>
                </a>

                <a href="{{ route('auth.logout', {}, false) }}" class="nav-item is-tab">
                    <span class="icon is-small">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </span>

                    Logout
                </a>
            </div>
        </div>
    </nav>

    <div class="off-menu" :class="{ active: sidebarActive }">
        <aside class="menu sidebar">
            {% for item in menu if auth_user().canDo(item.visibility is defined ? item.visibility : ['*']) %}
                {% if item.header != null %}
                    <p class="menu-label">{{ item.header }}</p>
                {% endif %}

                <ul class="menu-list">
                    {% for listItem in item.list if auth_user().canDo(listItem.visibility is defined ? listItem.visibility : ['*']) %}
                        <li{{ active_menu starts with listItem.identifier ? ' class="is-active"' : '' }}>
                            <a href="{{ route(listItem.route, {}, false) }}">
                                <span class="icon"><i class="fa fa-{{ listItem.icon }}" aria-hidden="true"></i></span> {{ listItem.name }}
                            </a>

                            {% if listItem.list is defined and active_menu starts with listItem.identifier %}
                                <ul>
                                    {% for subItem in listItem.list if auth_user().canDo(subItem.visibility is defined ? subItem.visility : ['*']) %}
                                        <li{{ active_menu == listItem.identifier ~ '.' ~ subItem.identifier ? ' class="is-active"' : '' }}>
                                            <a href="{{ route(subItem.route, {}, false) }}">
                                                <span class="icon"><i class="fa fa-{{ subItem.icon }}" aria-hidden="true"></i></span> {{ subItem.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>    
                    {% endfor %}
                </ul>
            {% endfor %}
        </aside>

        <div class="main-container" @click="sidebarActive = false">
            {% if session_get('message') %}
                <div class="notification is-{{ session_get('message')[0] }} is-main">
                    {{ session_get('message')[1] }}
                </div>
            {% endif %}

            {% block pageheader %}{% endblock %}

            <div class="columns">
                <div class="column is-paddingless {{ enable_bulletin ? 'is-9' : 'is-12' }}">
                    {% block subcontent %}{% endblock %}
                </div>

                {% if enable_bulletin %}
                    <div class="column is-3">
                        {% block pageside %}{% endblock %}

                        {% for bulletin in bulletins %}
                            <article class="message">
                                {% if bulletin.title %}
                                    <div class="message-header">
                                        <p class="is-4">{{ bulletin.title}}</p>
                                    </div>
                                {% endif %}
                                <div class="message-body">
                                    {{ bulletin.contents|nl2br }}

                                    <p>
                                        <small>Posted by {{ bulletin.author ? bulletin.author.name : 'N/A' }} on {{ bulletin.created_at|date('M d, h:i a') }}</small>
                                    </p>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
