{{ form_row(form._token) }}
{{ form_row(form._requestor) }}
{{ form_row(form._approver) }}

<label style="display: block; margin-bottom: 10px;">Starting date and time</label>

<div class="field has-addons is-fluid">
    {{ form_widget(form.start_date, { attr: { 'v-model': 'request.data.start_date', ':max': 'request.data.end_date' }}) }}
    {{ form_widget(form.start_time) }}
</div>

<label style="display: block; margin-bottom: 10px;">Ending date and time</label>

<div class="field has-addons is-fluid">
    {{ form_widget(form.end_date, { attr: { 'v-model': 'request.data.end_date', ':min': 'request.data.start_date' }}) }}
    {{ form_widget(form.end_time) }}
</div>

{{ form_row(form.reason) }}
